body {
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #666666;
}

.panel {
    margin: 10px;
    padding: 4px;
    border-radius: 20px;
    background-color: #333333;
    width: fit-content;
}

h3 {
    color: white;
    text-align: center;
    margin: 5px;
}

.panel > button {
    margin: 4px 5px;
    background-color: #35d459;
    border-radius: 50px;
    padding-left: 5px;
    text-decoration: none;
    font-size: 27px;
    border: none;
    cursor: pointer;
}

.panel button.toggled {
    background-color: #cc4137;
}

.panel button:hover {
    background-color: #7ad46d;
}

.panel button:hover.toggled {
    background-color: #cc656f;
}

.panel button#stop {
    background-color: #ff392b;
}

.panel button:hover#stop {
    background-color: #cc1d22;
}

#panelTasks button {
    transition: background-color 150ms;
}

#panelMisc button {
    transition: background-color 400ms;
}
