body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin-left: 0;
    padding-left: 0;
    border-left: 0;
}

div#blog {
    background-image: url("../images/TODO.png");
    background-repeat: no-repeat;
    width: 500px;
    height: 676px;
    margin-top: 20%;
}

div.hide {
    visibility: hidden;
    animation: slide-to-the-right 750ms;
    animation-timing-function: ease-in-out;
}

div.show {
    visibility: visible;
    animation: slide-to-the-left 750ms;
    animation-timing-function: ease-in-out;
}

div#tasks {
    bottom: 0;
    font-size: 22px;
    margin: 0 20px 20px 78px;
}

div#tasks > h1 {
    padding-top: 23px;
}

div#tasks > p {
    position: relative;
    width: 360px;
    font-size: 35px;
    word-wrap: break-word;
    line-height: 45px;
}
div#tasks > p::before {
    position: absolute;
    height: 100%;
    content: " ";
}

div#tasks > p.finished::before {
    background: repeating-linear-gradient(rgba(0,0,0,0) 0px, rgba(0,0,0,0) 24px, rgba(255,0,0,1) 24px, rgb(255, 0, 0) 28px, rgba(0,0,0,0) 28px, rgba(0,0,0,0) 45px);
    animation-name: wipe-to-the-right;
    animation-duration: 750ms;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slide-to-the-right {
    from {
        transform: translateX(0);
        visibility: visible;
    }
    to {
        transform: translateX(-700px);
    }
}

@keyframes slide-to-the-left {
    from {
        transform: translateX(-700px);
        visibility: visible;
    }
    to {
        transform: translateX(0);
    }
}

@keyframes wipe-to-the-right{
    0%   { width : 0; }
    100% { width: 360px; }
}