body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin-left: 0;
    padding-left: 0;
    border-left: 0;
}

div#blog {
    background-image: url("../images/TODO.png");
    background-repeat: no-repeat;
    width: 500px;
    height: 676px;
    margin-top: 20%;
}

div.hide {
    visibility: hidden;
    animation: slide-to-the-right 750ms;
    animation-timing-function: ease-in-out;
}

div.show {
    visibility: visible;
    animation: slide-to-the-left 750ms;
    animation-timing-function: ease-in-out;
}

div#tasks {
    bottom: 0;
    font-size: 22px;
    margin: 0 20px 20px 78px;
}

div#tasks > h1 {
    padding-top: 23px;
}

div#tasksNoTitle {
    overflow: hidden;
}

div#tasksNoTitle > div.task {
    position: relative;
}

div#tasksNoTitle > div.task > p {
    width: 360px;
    font-size: 35px;
    word-wrap: break-word;
}

div#tasksNoTitle > div.task > p.strike {
    color: #00000000;
    text-decoration-color: #00000000;
    text-decoration-line: line-through;
    text-decoration-style: wavy;
    position: absolute;
    left: 0;
    top: -35px;
}

div#tasksNoTitle > div.finished > p.strike {
    animation: task-to-the-left 750ms;
    animation-timing-function: ease-in-out;
    text-decoration-color: red;
}

div#tasksNoTitle > div.unfinished > p.strike {
    animation: task-to-the-right 750ms;
    animation-timing-function: ease-in-out;
    text-decoration-color: #00000000;
}

@keyframes slide-to-the-right {
    from {
        transform: translateX(0);
        visibility: visible;
    }
    to {
        transform: translateX(-700px);
    }
}

@keyframes slide-to-the-left {
    from {
        transform: translateX(-700px);
        visibility: visible;
    }
    to {
        transform: translateX(0);
    }
}

@keyframes task-to-the-right {
    from {
        transform: translateX(0);
        text-decoration-color: red;
    }
    to {
        transform: translateX(-700px);
    }
}

@keyframes task-to-the-left {
    from {
        transform: translateX(-700px);
        text-decoration-color: red;
    }
    to {
        transform: translateX(0);
    }
}